/* CSS Document */

* {
margin : 0;
padding : 0;
}
body {
	background : url(http://www.laurabalboa.com/images/ba1.gif) repeat scroll 0 0;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	letter-spacing: normal;
}
img{background:url('www.laurabalboa.com/images/ajax-loader.gif') no-repeat center;}
a:link {
color : #666666;
text-decoration : none;
}
a:active {
text-decoration : line-through;
}
a:visited {
color : #707070;
text-decoration : none;
}
a:hover {
color : #282828;
text-decoration : line-through;
}
a img {
border : medium none;
}
#menu {
background: transparent;
bottom : 0;
height : 100%;
text-align : left;
left : 20px;
margin-top : 120px;
overflow : auto;
position : fixed;
top : 0;
width : 230px;
}
#menu ul {
list-style-image : none;
list-style-position : outside;
list-style-type : none;
margin : 0 0 15px;
}
#menu ul li.section-title {
	color : #000000;
	font-family : georgia;
	font-size : 80%;
	/*font-style : italic;
	font-weight: bold;*/
	background-color: #ffffff;
}
#content {
	height : 100%;
	margin : 0 0 0 0;
	border-top : 80px solid transparent;
	width: 600px;
	margin-left: 270px;
	text-align: left;
}
		#contenu {
			margin-top: 80px;
			margin-left: 0px;
		}
		
		#contenu {
			position: fixed;
			z-index: 2;
		}

.container {
margin-top : 20px;
margin-left : 20px;
}
#content p {
width : 550px;
margin-top : 10px;
}
p {
margin : 0 0 0 0;
}
h1 {
font-size : 32px;
}
h2 {
font-size : 24px;
}
h3 {
font-size : 16px;
}
h4 {
font-size : 12px;
}
#img-container {
margin : 0;
padding : 0;
}
#img-container p {
width : 800px;
margin : 40;
padding : 0 0 12px 0;
}
#once {
clear : left;
}
#num {
padding-left : 6px;
}
.img-bot {
margin-bottom : 6px;
display : block;
}

sub {
	font-size : 11px;
    background-color: rgba(255,255,255,0.5);
}

table { 
	writing-mode: tb-rl;
	font-weight: normal;
	table-layout: absolute;
	margin-top: 40px;
    margin-left: 180px; 
}

th { 
	height: 40px;
	border: 0px solid #000;
	width: 80px; 
}

div.container {
	z-index: 1;
    margin: 50px;   
}

div.left, div.right {
    float: left;
    padding: 5px;    
}
div.left {
    /*background-color:orange;*/    
}
div.right {
    /*background-color: yellow;*/  
}

.celda {
	width: 100px;
	height: 100px;
	line-height: 40px;
}

